<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultants</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Consulenti</h1>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Posizione</th>
                    <th>Responsabile</th>
                </tr>
            </thead>
            <tbody>
                {% for consultant in consultants %}
                <tr>
                    <td>{{ consultant.nome }}</td>
                    <td>{{ consultant.posizione.nome if consultant.posizione else 'Nessuna posizione' }}</td>
                    <td>{% for consulente in consultants %}
                        {% if consultant.responsabile_id==consulente.id %}
                        {{consulente.nome}}
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ url_for('modify_consultant', id=consultant.id) }}" class="btn btn-primary btn-sm">Modify</a>
                        <a href="{{ url_for('delete_consultant', id=consultant.id) }}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-center mt-4">
            <a href="{{ url_for('index') }}" class="btn btn-secondary">Torna alla Home</a>
        </div>
    </div>
    
</body>
</html>