<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultants</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Consulenti</h1>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Posizione</th>
                    <th>Responsabile</th>
                </tr>
            </thead>
            <tbody>
                {% for consultant in consultants %}
                <tr>
                    <td>{{ consultant.nome }}</td>
                    <td>
                        {% if consultant.posizione == '1' %}
                            Managers Main Office
                        {% elif consultant.posizione == '2' %}
                            Assistenza: Tecnici Main Office
                        {% elif consultant.posizione == '3' %}
                            Social Media
                        {% elif consultant.posizione == '4' %}
                            Dealers Con Campionario Main Office
                        {% elif consultant.posizione == '5' %}
                            Consulenti DPS Main Office
                        {% elif consultant.posizione == '6' %}
                            Consulenti Kirby Life
                        {% elif consultant.posizione == '7' %}
                            D.T. + Managers + Dealers Ufficio di Carmagnola
                        {% elif consultant.posizione == '8' %}
                            Campionari da Ritirare
                        {% else %}
                            Unknown Position
                        {% endif %}
                    </td>
                    <td>{%for consulente in consultants%}
                        {%if consultant.responsabile_id==consulente.id%}
                        {{consulente.nome}}
                        {%endif%}
                        {%endfor%}
                    </td>
                    <td>
                        <a href="{{ url_for('modify_consultant', id=consultant.id) }}" class="btn btn-primary btn-sm">Modify</a>
                        <a href="{{ url_for('delete_consultant', id=consultant.id) }}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-center mt-4">
            <a href="{{ url_for('index') }}" class="btn btn-secondary">Torna alla Home</a>
        </div>
    </div>
    
</body>
</html>