{% extends 'base.html' %}
{% block head %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
{% block content %}
<div class="container mt-4">
    <form id="consultantForm" method="POST" action="{{ url_for('provvigioni') }}">
        <input type="hidden" id="password" name="password" value={{ password }}>
        <div class="mb-3">
            <label for="consultant" class="form-label">Seleziona il consulente</label>
            <select class="form-select" id="consultant_id" name="consultant">
                <option value="" selected disabled>Seleziona un consulente</option>
                {% for consultant in consultants %}
                    <option value="{{ consultant.id }}" {% if consultant.id == consultant_id %}selected{% endif %}>{{ consultant.nome }}</option>
                {% endfor %}
            </select>
        </div>
    </form>
</div>
<div class="container mt-4">
    <h2 class="text-primary" id="consultantName">
        {% for consultant in consultants %}
            {% if consultant.id == consultant_id %}
                {{ consultant.nome }}
            {% endif %}
        {% endfor %}
    </h2>
    <form id="confirmForm" method="POST" action="{{ url_for('edit_payments') }}">
        <input type="hidden" name="consultant_id" value="{{ consultant_id }}">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Note</th>
                    <th scope="col">Seleziona</th>
                </tr>
            </thead>
            <tbody id="appointmentsTable">
                {% for appointment in appointments %}
                    {% set consultant_ids = appointment.consultants | map(attribute='id') | list %}
                    {% if consultant_id in consultant_ids %}
                        <tr>
                            <td>{{ appointment.data_appuntamento }}</td>
                            <td>{{ appointment.nome_cliente }}</td>
                            <td>{{ appointment.note }}</td>
                            <td>
                                <input type="checkbox" name="appointment_ids" value="{{ appointment.id }}">
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-secondary mt-3" type="submit" id="ConfirmButton">Conferma</button>
    </form>
</div>
{% endblock %}
{% block scripts %}
<script>
    document.getElementById('consultant_id').addEventListener('change', function() {
        document.getElementById('consultantForm').submit();
    });
</script>
{% endblock %}